<div class="container">
  <nav class="navbar">
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#meals">Meals</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
  <section id="home">
    <h1>Welcome To Harjap's Meat Shop</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
  <section id="meals">
      <h1>Meals</h1>
      <p class="lead">These are the four samples of our product, if you're looking for more, please click the button Below.</p>
      <button class="button"><a href="/meals">More</a></button>
  </section>
</div>